body {
    border-top: 50px solid darkslateblue;
    background-color: rgb(128, 128, 128);
    margin: 0;
    padding: 0;
}
div {
    position:relative;
    width: 550px;
    margin: -50px auto 0px;
    padding: 20px;
    background-color: white;
}
a.but {
    float: right;
    text-decoration: none;
}
button{
    padding: 10px;
    border:unset;
    background: #9A72AC;
    cursor:pointer;
    border-radius: 5px;
    float: right;
}
.name{
    width: 300px;
    background: lightgray;
    border-radius: 5px;
    padding: 10px;
    border:unset;

}
table {
    border-spacing: 10px;
    border-collapse: separate;
    width: 500px;
    position:relative;
}

th, td {
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
}